# Environnement virtuel
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Système
.DS_Store
Thumbs.db

# Logs
*.log